@use './../../../../styles/animations';
@use './../../../../styles/mixins' as *;


.container {
    @include animations.fade-in;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            display: flex;
            align-items: center;
            
            span {
                cursor: pointer;
                font-weight: 500;
                font-size: xx-large;
                margin-right: 10px;
                transition: all 0.3s ease;
                &:hover {
                    color: $light-blue;
                }
            }
        }

        .search {
            @include input_field;
            width: 35%;
            position: relative;

            svg {
                @include icon(before);
            }

            span {
                position: absolute;
                top: -15px;
                right: 10px;
                font-size: xx-large;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    color: $light-blue;
                }
            }

            ul {
                position: absolute;
                background-color: $white;
                top: 38px;
                right: 5px;
                border: 2px solid $black;
                border-top: none;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                li{
                    padding: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #e4e4e4;
                    } 
                }
            }
        }
    } 

    .options {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width : 100%;

        .pagination {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-evenly;

            .navButtons {
                @include primary_button ("normal");
            }

            .selected {
                background-color: $white;
                fill: $dark-blue;
                color: $dark-blue;
            }

            .navArrows {
                // padding: 5px 20px; 
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: xx-large;
                transition: all 0.3s ease;
                &:hover {
                    color: $light-blue;
                }
            }
        }


        .leftside {
            .option {
                display: flex;
                align-items: center;
                @include primary_button ('normal');
    
                &:last-child {
                    border: none;
                    background-color: transparent;
                    @include input_field;
                    flex-direction: row;
                    width: 200px;
    
                    select {
                        cursor: pointer;
                    }
    
                    svg {
                        @include icon(bfore);
                        left: 25px;
                    }
                }
            }
        }
    }

    table {

        margin-top: 20px;
        
        .thead {
            font-weight: 600;
            td{
                color: $light_blue;
                text-align: center;
            }
        }
        
        tr {
            background-color: $white;
            td {
                padding: 6px;
                border: 1px solid $black;
                text-align: center;
            }

            .options {
                margin-left: auto;
                margin-right: auto;
                margin-top: 12px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                
                button {
                    background: transparent;
                    border: none;
                    padding: 2px 4px;
                    cursor: pointer;
                    transition: all 0.3s ease;   
                    border-radius: 10px;
                    display: flex;
                    align-items: center;

                    svg {
                        fill: $dark_blue;
                        transition: all 0.3s ease;   
                    }
    
                    &:first-child:hover {
                        background: $red;
                        svg {
                            fill: $white;
                        }
                    }
    
                    &:hover {
                        background: $light-blue;
                        svg {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}