@use './../../../../styles/animations';
@use './../../../../styles/mixins' as *;

.container {
    @include animations.fade-in;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            @include input_field;
            width: 35%;
            position: relative;

            svg {
                @include icon(before);
            }

            span {
                position: absolute;
                top: -15px;
                right: 10px;
                font-size: xx-large;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    color: $light-blue;
                }
            }

            ul {
                position: absolute;
                background-color: $white;
                top: 38px;
                right: 5px;
                border: 2px solid $black;
                border-top: none;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                li{
                    padding: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #e4e4e4;
                    } 
                }
            }
        }
    } 

    .options {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width : 100%;

        .pagination {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-evenly;

            .navButtons {
                @include primary_button ("normal");
            }

            .selected {
                background-color: $white;
                fill: $dark-blue;
                color: $dark-blue;
            }

            .navArrows {
                margin-top: -10px;
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: xx-large;
                transition: all 0.3s ease;
                &:hover {
                    color: $light-blue;
                }
            }
        }


        .filters {
            display: flex;
            align-items: center;
            gap: 15px;

            .option {
                background-color: $dark-blue;
                padding: 10px 20px;
                border-radius: 10px;
                color: $white;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease;
    
                &:hover {
                    background-color: $light-blue;
                }
            }

            .selected {
                background-color: $white !important;
                border: 2px solid $dark-blue;
                color: $dark-blue;
            }
        }
    }



    table {

        margin-top: 20px;
        
        .thead {
            font-weight: 600;
            td{
                color: $light_blue;
                text-align: center;
            }
        }
            
        .invalid {
            background-color: #ff00009a;
            td {
                color: $white;
            }
            .options {
                svg {
                    fill: $white !important;
                }
                button:hover {
                    background: $white;
                    svg {
                        fill: $light-blue !important;
                    }
                }
            }
        }
        
        tr {
            background-color: $white;
            td {
                padding: 6px;
                border: 1px solid $black;
                text-align: center;
            }
            

            .options {
                margin-left: auto;
                margin-right: auto;
                margin-top: 12px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                button {
                    background: transparent;
                    border: none;
                    padding: 2px 4px;
                    cursor: pointer;
                    transition: all 0.3s ease;   
                    border-radius: 10px;
                    display: flex;
                    align-items: center;

                    svg {
                        fill: $dark_blue;
                        transition: all 0.3s ease;   
                    }
    
                    &:hover {
                        background: $light-blue;
                        svg {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}