<div class="container">
    <ng-container #alert></ng-container>
    <!-- ============================HEADER START======================================== -->
    <div class="header">
        <h2>Chefs Locaux</h2>
        
        <!-- ============================SEARCH FIELD START======================================== -->
        <div class="search">
            <input [(ngModel)]="query" type="text" placeholder="Chercher {{ getSearchLabel(searchField) }}" (input)="filterUsers()" (focus)="showOptions = false">

            
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><g fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path d="M10.5 4a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M2 10.5a8.5 8.5 0 1 1 15.176 5.262l3.652 3.652a1 1 0 0 1-1.414 1.414l-3.652-3.652A8.5 8.5 0 0 1 2 10.5M9.5 7a1 1 0 0 1 1-1a4.5 4.5 0 0 1 4.5 4.5a1 1 0 1 1-2 0A2.5 2.5 0 0 0 10.5 8a1 1 0 0 1-1-1"/></g></svg>

            <span (click)="toggleOptions()">&#8964;</span>

            @if (showOptions) {
                <ul>
                    @for (field of searchFields; track $index) {
                        <li (click)="selectField(field)"> {{ getSearchLabel(field) }} </li>
                    }
                </ul>
            }

        </div>
        <!-- ============================SEARCH FIELD END======================================== -->
        
    </div>
    <!-- ============================HEADER END======================================== -->
    

    <!-- ============================OPTIONS START======================================== -->
    <div class="options">

        <div class="leftside">
                <!-- FILTER TABLE OPTION =======> -->
            <div class="option">
                <!-- THE FILTER METHODE SELECTION ========> -->
                <select (change)="onSortChange($event)" name="filter" id="filter">
                    @for (option of filterOptions; track option) {
                        <option [selected]="option === 'Plus récent'" value="{{option}}">{{ option }}</option>
                    }
                </select>
                
                <!-- SETTINGS ICON =========> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 18.605a.75.75 0 0 1-.75.75h-5.1a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h7.74a2.93 2.93 0 0 1 5.66 0h5.1a.75.75 0 0 1 .75.75m0-13.21a.75.75 0 0 1-.75.75H18.8a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h10.39a2.93 2.93 0 0 1 5.66 0h2.45a.74.74 0 0 1 .75.75m0 6.6a.74.74 0 0 1-.75.75H9.55a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h1.14a2.93 2.93 0 0 1 5.66 0h11.7a.75.75 0 0 1 .75.75"/></svg>
            </div>

            <button class="option" (click)="toggleFilters(true)">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 512 512"><path d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24m296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24m-124 88c0-11-9-20-20-20s-20 9-20 20s9 20 20 20s20-9 20-20m64 0c0-11-9-20-20-20s-20 9-20 20s9 20 20 20s20-9 20-20"/></svg>
                Exporter
            </button>
        </div>

        <div class="pagination">
            <button class="navArrows" (click)="changePange(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
            @for (page of pages; track $index) {
                <button [class.selected]="currentPage === page" class="navButtons" (click)="changePange(page)">
                    {{page}}
                </button>
            }
            <button class="navArrows" (click)="changePange(currentPage + 1)" [disabled]="currentPage === pages.length">&gt;</button>
        </div>

    </div>
    <!-- ============================OPTIONS END======================================== -->


    <!-- =================================USERS TABLE START===================================== -->

    <table>
        <tr class="thead">
            <td>ID</td>
            <td>Nom</td>
            <td>NNI</td>
            <td>Telephone</td>
            <td>Commune</td>
            <td>Details</td>
        </tr>
        
        @for (user of paginatedUsers; track $index) {
            <tr >
                <td>US-{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.nni }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.commune }}</td>

                <td class="options">

                    <!-- DETAILS OPTION =======> -->
                    <button (click)="details(user.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                            <path d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/>
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </table>

    <!-- =================================USERS TABLE END===================================== -->

    @if (filterVisible) {
        <div class="filterContainer">
            <div class="filters">
                <header>
                    <h3>filtrer et exporter</h3>
                    <button (click)="toggleFilters(false)"><mat-icon>close</mat-icon></button>
                </header>

                <div class="filter_options">
                    <label for="filter_options">Selectioner les <span>Communes</span></label>
                </div>

                <div class="filterContent">
                    <div class="communes">
                        @for (commune of communes; track $index) {
                            <div class="com">
                                <input type="checkbox" (change)="toggleCommunes(commune, $event)">
                                <label for="{{ commune }}"> {{ commune }} </label>
                            </div>
                        }
                    </div>

                    <div class="buttons">
                        
                        <button class="btn_opt" (click)="filterExport('pdf')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.503 13.002a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 1 0v-.5H8.5a1.5 1.5 0 0 0 0-3zm.997 2h-.497v-1H8.5a.5.5 0 1 1 0 1m6.498-1.5a.5.5 0 0 1 .5-.5h1.505a.5.5 0 1 1 0 1h-1.006l-.001 1.002h1.007a.5.5 0 0 1 0 1h-1.007l.002.497a.5.5 0 0 1-1 .002l-.003-.998v-.002zm-3.498-.5h.498a2 2 0 0 1 0 4H11.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5m.5 3a1 1 0 0 0 0-2zM12 8V2H6a2 2 0 0 0-2 2v6.668c-.591.281-1 .884-1 1.582v5.5c0 .698.409 1.3 1 1.582V20a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-.668c.591-.281 1-.884 1-1.582v-5.5c0-.698-.409-1.3-1-1.582V10h-6a2 2 0 0 1-2-2m-7.25 4h14.5a.25.25 0 0 1 .25.25v5.5a.25.25 0 0 1-.25.25H4.75a.25.25 0 0 1-.25-.25v-5.5a.25.25 0 0 1 .25-.25m8.75-4V2.5l6 6H14a.5.5 0 0 1-.5-.5"/></svg>
                            Export PDF
                        </button>
                
                        <button class="btn_opt" (click)="filterExport('excel')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path d="M200 24H72a16 16 0 0 0-16 16v24H40a16 16 0 0 0-16 16v96a16 16 0 0 0 16 16h16v24a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16V40a16 16 0 0 0-16-16M72 160a8 8 0 0 1-6.15-13.12L81.59 128l-15.74-18.88a8 8 0 0 1 12.3-10.24L92 115.5l13.85-16.62a8 8 0 1 1 12.3 10.24L102.41 128l15.74 18.88a8 8 0 0 1-12.3 10.24L92 140.5l-13.85 16.62A8 8 0 0 1 72 160m56 56H72v-24h56Zm0-152H72V40h56Zm72 152h-56v-24a16 16 0 0 0 16-16v-8h40Zm0-64h-40v-48h40Zm0-64h-40v-8a16 16 0 0 0-16-16V40h56Z"/></svg>
                            Export Excel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>