@use './../../../../styles/animations';
@use './../../../../styles/mixins' as *;

.container {
    @include container;
    @include animations.fade-in;
    flex-direction: column;
    align-items: start;
    gap: 80px;
    justify-content: start;
    height: 100%;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            display: flex;
            align-items: center;

            span {
                cursor: pointer;
                font-weight: 500;
                font-size: xx-large;
                margin-right: 10px;
                transition: all 0.3s ease;

                &:hover {
                    color: $light-blue;
                }
            }
        }
    }

    .body {
        width: 100%;
        display: flex;
        align-items: start;
        gap: 60px;

        .general_infos {
            @include card;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;

            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 10px;

                .etat {
                    padding: 5px;
                    border-radius: 5px;
                    color: $white;
                }
                .valid {
                    background-color: $green;
                }
                .invalid {
                    background-color: $red;
                }
                .en_cours {
                    background-color: #f5bc00;
                }
                .en_attente {
                    background-color: $light-blue;
                }
            }

            .image {
                width: 105.5%;
                background: $grey;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -12px;
                img {
                    height: 200px;
                    width: 300px;
                    object-fit: cover
                }
            }

            .info {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                p {
                    display: flex;
                    text-align: justify;
                    align-items: start;
                    span {
                        width: 150px;
                        color: $dark-blue;
                        font-weight: 600;
                    }
                }
            }

            
        }
        
        .user_infos {
            @include card;
            padding: 20px;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 40px;
            position: relative;

            
            
            .user , .chef {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4 {
                    color: $light-blue;
                    margin-bottom: 10px;
                }

                p {
                    span {
                        font-weight: 600;
                        color: $dark-blue;
                    }
                }
            }


        }
    }
}