<ng-container #alert></ng-container>
<div class="container">
    <div class="header">
        <h2> <span (click)="backwards(user.id)">&lt;</span> Details du plainte</h2>
    </div>

    <div class="body">
        <div class="general_infos">
            <header>
                <p> {{ plainte.code }} </p>
                <p class="etat {{ plainte.etat.toLocaleLowerCase() === 'en cours' ? 'en_cours' : plainte.etat.toLocaleLowerCase() === 'en attente' ? 'en_attente' : plainte.etat.toLocaleLowerCase()}}"> {{ plainte.etat}} </p>
            </header>
            
            <div class="image">
                <img src="{{plainte.image}}">
            </div>

            <div class="info">
                <p> <span style="margin-right: -40px;">Description : </span> {{translateDetails(plainte.details)}} </p>
                <p> <span style="margin-right: -40px;">Commune : </span> {{plainte.commune}} </p>
                
                @if (plainte.etat.toLowerCase() === 'valid' || plainte.etat.toLowerCase() === 'invalid') {
                    <p> <span style="margin-right: 35px;">Rapport : </span> {{plainte.rapport}} </p>
                }
            </div>
        </div>
        
        <div class="user_infos">
            <div class="user">
                <h4>Plaingnant</h4>
                <p><span style="margin-right: 120px;">Nom : </span> {{user.name}}</p>
                <p><span style="margin-right: 80px;">Telephone : </span> {{user.tel}}</p>
                <p><span style="margin-right: 15px;">Date de soumission  : </span> {{ dateCreation.split('T')[0] }}</p>
            </div>
            <div class="chef">
                <h4>Inspecteur</h4>
                <p><span style="margin-right: 106px;">Nom : </span> {{chef?.name || 'INDEFINIE'}}</p>
                <p><span style="margin-right: 68px;">Telephone : </span> {{chef?.tel || 'INDEFINIE'}}</p>
                @if (plainte.etat.toLocaleLowerCase() === 'valid' || plainte.etat.toLocaleLowerCase() === 'invalid') {
                    <p><span style="margin-right: 15px;">Date d'inspection : </span> {{ dateInspection.split('T')[0] }}</p>
                }
            </div>
        </div>
    </div>
</div>
