<ng-container #alert></ng-container>
<div class="container">
    <div class="header">
        <h2> <span >&lt;</span> Details du plainte</h2>
    </div>

    <div class="body">
        <div class="general_infos">
            <h4>Informations generales</h4>
            @if (plainte) {
                <p><span style="margin-right: 110px;">Code :</span> {{ plainte.code }} </p>
                <p><span style="margin-right: 62px;">Description : </span>{{ plainte.details }} </p>
                <p><span style="margin-right: 68px;">Commune :</span> {{ plainte.commune }} </p>
                <p><span style="margin-right: 120px;">Etat :</span> {{ plainte.examiner }} </p>

                <p [style]="plainte.valid == 'valid' ? 'background-color: #0fcc5e;' : 'background-color: #eb3a0e;'" class="label">{{ plainte.valid }}</p>
            }
        </div>

        <div class="user_infos">
            <h4>Informations du Plaingnant</h4>
            @if (user) {
                <p><span style="margin-right: 110px;">Nom :</span> {{ user.name }} </p>
                <p><span style="margin-right: 62px;">NNI : </span>{{ user.nni }} </p>
                <p><span style="margin-right: 68px;"> :</span> {{ plainte.commune }} </p>
                <p><span style="margin-right: 120px;">Etat :</span> {{ plainte.examiner }} </p>

                <p [style]="plainte.valid == 'valid' ? 'background-color: #0fcc5e;' : 'background-color: #eb3a0e;'" class="label">{{ plainte.valid }}</p>
            }
        </div>
    </div>
</div>
