<ng-container #alert></ng-container>
<div class="container">
    <div class="header">
        <h2> <span (click)="back()" >&lt;</span> Details de l'utilisateur</h2>

        <div class="options">
            
            @if (previousPage == 'users_list') {
                <button (click)="signal(user, user.signal)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M12 1.75a2.63 2.63 0 0 0-1.32.355l-6.61 3.8l-.002.002A2.65 2.65 0 0 0 2.75 8.198v7.603a2.64 2.64 0 0 0 1.318 2.292l.003.002l6.608 3.799h.002a2.63 2.63 0 0 0 2.639 0h.001l6.608-3.8h.003A2.65 2.65 0 0 0 21.25 15.8V8.2a2.65 2.65 0 0 0-1.318-2.292l-6.61-3.8l-.002-.002A2.63 2.63 0 0 0 12 1.75m0 5.127a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0v-5.5a.75.75 0 0 1 .75-.75m.75 8.996v.5a.75.75 0 0 1-1.5 0v-.5a.75.75 0 0 1 1.5 0"/></svg>
    
                    Signaler
                </button>
            }

            <!-- =====SIGNAL OPTION========> -->
        </div>
    </div>

    <div class="body">
        <div class="personal_infos">
            <h4>Informations personelles</h4>
            @if (user) {
                <p><span style="margin-right: 60px;">Nom :</span> {{ user.name }} </p>
                <p><span style="margin-right: 72px;">NNI : </span>{{ user.nni }} </p>
                <p><span style="margin-right: 68px;">Tele :</span> {{ user.tel }} </p>
                @if (previousPage === 'chefs') {
                    <p><span style="margin-right: 18px;">Commune :</span> {{ user.commune }} </p>
                }
                @if (previousPage === 'users_list') {
                    <p><span style="margin-right: 42px;">Signals :</span> {{ user.signal }} </p>
                }
            }
        </div>
        
        <div class="plaintes">
            <h4>Plaintes</h4>
            
        <div class="filters">
            @if (user.role === 'CHEF') {
                <p class="option" [class]="selectedType == 'invs' ? 'selected' : ''" (click)="filterPLaintes('invs')">Plaintes Enquêté  : {{ plaintesInvestigue.length }} </p>
            }  

            <p class="option" [class]="selectedType == 'valid' ? 'selected' : ''" (click)="filterPLaintes('valid')">Plaintes Valids : {{ pliantesValid.length }} </p>

            <p class="option" [class]="selectedType == 'en_attente' ? 'selected' : ''" (click)="filterPLaintes('en_attente')">Plaintes en attente : {{ pliantesEnEttente.length }} </p>
            
            <p class="option" [class]="selectedType == 'en_cours' ? 'selected' : ''" (click)="filterPLaintes('en_cours')">Plaintes en cours : {{ pliantesEnCours.length }} </p>

            <p class="option" [class]="selectedType == 'invalid' ? 'selected' : ''" (click)="filterPLaintes('invalid')">Plaintes invalids : {{ pliantesInvalid.length }}</p>
        </div>

            @if (user) {
                @if (showenPlaintes.length) {
                    @for (plainte of showenPlaintes; track $index) {
                        <div class="plainte" routerLink="/home/details/plainte/{{ plainte.id }}">
                            <div class="top">
                            <p>{{ plainte.created_at | date:'dd-MM-yyyy' }}</p>

                            <p class="ex" [class]="plainte.etat.toLowerCase() === 'en attente' ? 'att' : plainte.etat.toLocaleLowerCase() === 'en cours' ? 'cours' : plainte.etat.toLocaleLowerCase() === 'valid' ? 'valid' : plainte.etat.toLocaleLowerCase() === 'invalid' ? 'invalid' : ''">{{ plainte.etat }}</p>
                        </div>
                        <p class="details">Details : {{ plainte.details | shortener:7}}</p>
                        @if (plainte.rapport) {
                            <p class="details">Motif : {{ plainte.rapport | shortener:14}}</p>
                        }
                        </div>
                    }
                } @else {
                    <p class="noPls">AUCUN PLAINTES</p>
                }
            }
        </div>


    </div>
</div>