@use './../../../../styles/animations';
@use './../../../../styles/mixins' as *;

.container {
    @include container;
    @include animations.fade-in;
    flex-direction: column;
    align-items: start;
    gap: 80px;
    justify-content: start;
    height: 100%;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            display: flex;
            align-items: center;

            span {
                cursor: pointer;
                font-weight: 500;
                font-size: xx-large;
                margin-right: 10px;
                transition: all 0.3s ease;

                &:hover {
                    color: $light-blue;
                }
            }
        }

        .options {
            display: flex;
            gap: 30px;

            button {
                @include secondary_button('');
                &:first-child:hover {
                    @include secondary_button('danger');
                }
                
            }

        }
    }

    .body {
        width: 100%;
        display: flex;
        align-items: start;
        gap: 60px;
        .personal_infos {
            @include card;
            padding: 20px;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 30px;

            h4 {
                color: $light-blue;
                width: 100%;
                text-align: center;
            }
            
            p {
                span {
                    font-weight: 600;
                    color: $dark-blue;
                }
            }

        }
        
        .plaintes {
            @include card;
            // padding: 20px;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            position: relative;
            overflow-y: auto;
            max-height: 450px;
            min-height: 280px;
            scrollbar-color: #e0e0e0 transparent;

            .noPls {
                width: 100%;
                margin-top: 9%;
                font-size: large;
                font-weight: 500;
                letter-spacing: 0.2rem;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
            }

            h4 {
                top: 10px;
                color: $light-blue;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                position: absolute;
            }

            .top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }

                .ex {
                    padding: 4px 8px;
                    border-radius: 5px;
                    color: $white;
                    font-size: 15px;
                    font-weight: 500;
                }
                
                .att {
                    background-color: $light-blue;
                }
                
                .cours {
                    background-color: orange;
                }
                
                .valid {
                    background-color: #00b135;
                }

                .invalid {
                    background-color: $red;
                }

                .filters {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 5px;
                    min-height: 100px;
                    margin-bottom: 5px;
                    .option {
                        padding: 8px;
                        background-color: $dark-blue;
                        color: $white;
                        border: 2px solid $dark-blue;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        
                        &:hover {
                            background-color: $white;
                            color: $dark-blue;
                        }
                    }
                    .selected {
                        border: 2px solid $dark-blue;
                        background-color: $white;
                        color: $dark-blue;
                    }
                }
                

            .plainte {
                padding: 20px 15px;
                border-bottom: 1px solid  $black;
                cursor: pointer;
                transition: all 0.3s ease;
                width: 100%;
                &:hover {
                    background-color: $grey;
                }
                
                &:nth-child(2) {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }

                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border: none;
                }

                .details {
                    margin-bottom: 5px;
                    font-size: 15px;
                }
            }
        }
    }
}