@use './../../../styles/animations' as *;
@use './../../../styles/mixins' as *;

.container {
    @include container;
    position: relative;
    
    .login_form {
        @include fade-in(2s, ease, 3s);
        @include card;
        padding: 40px;
        width: 40%;
        padding-top: 120px;
        position: relative;

        .retourn {
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: xx-large;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;
            border-radius: 20px;
            padding: 0.1px 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                padding: 0.1px auto;
                padding-bottom: 6px;
            }
            
            &:hover {
                background-color: $light_blue;
                p {
                    color: $white;
                }
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px 0;

            

        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .input_field {
                @include input_field;
                margin-bottom: 20px;
                .icon {
                    @include icon (before);
                }
                
                .icon_after {
                    @include icon (after);
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
            }
            
            .notValid {
                border: 2px solid $red !important;
                ~ svg {
                    fill: $red;
                }
            }
            
            button {
                @include primary_button ('normal');
                width: 80%;
                margin-top: 20px;
            }
        }
    }

    .fade-out {
        @include fade-out;
    }

    img.fade-out {
        @include fade-out;
        width: 80px;
        top: 8rem;
    }

    img {
        position: absolute;
        z-index: 1;
        width: 250px;
        @include float($name : float, $duration : 1.5s, $delay : 1s,  $top-start: 25%, $top-end: 6rem);
    }
}

