@use './../../../styles/variables';
@use './../../../styles/mixins' as *;
@use './../../../styles/animations';



.alert-box {
    @include card;
    width: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    left: 35%;
    z-index: 2;

    .title {
        display: flex;
        align-items: center;
        gap: 10px;
        
        h3 {
            letter-spacing: 0.5px;
        }
    }

    p {
        margin-left: 42px;
    }
    
    .buttons {
        margin-top: 30px;
        margin-left: 30px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        button {
            &:first-child {
                @include primary_button('danger');
            }
            
            &:last-child {
                @include primary_button('normal');
            }

        }
    }

    span {
        position: absolute;
        top: 5px;
        right : 5px;
        font-size: larger;
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.3S ease;
        color: $red;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }
    @include animations.fly-in;

}

.flying_out {
    @include animations.fly_out;
}




